* {
    box-sizing: border-box;
    font-family: Helvetica;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
@font-face {
    font-family: Flood;
    src: url("Flood\ Std\ Regular/Flood Std Regular.otf") format("opentype");
}
fieldset {
    border: 0ch;
}
header {
    display: grid;
    grid-template-columns: 60% 40%;
    color: #354463;
    column-gap: 23px;
    padding: 40px;
    padding-bottom: 30px;
}

header > h1 {
    width: 125px;
    font: normal normal bold 18px/22px Helvetica;
    color: #354463;
}
.contact > a {
    display: block;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font: normal normal 300 14px/20px Helvetica;
    color: #354463;
}
.donate {
    text-align: center;
    padding-bottom: 40px;
}
.donate > button {
    background: #c1f7d5;
    color: #354463;
    font: normal normal bold 18px/22px Helvetica;
    border: 0ch;
    width: 350px;
    height: 40px;
    border-radius: 100px;
}
legend {
    background-color: #354463;
    color: #ffffff;
    width: 160px;
    height: 40px;
    padding: 10px;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
}
button {
    background: #c1f7d5;
    color: #354463;
    font: normal normal bold 18px/22px Helvetica;
    height: 40px;
    border: 0ch;
    width: 152px;
    border-radius: 100px;
}
.issue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 592px;
    background-image: url("assets/assets/home/annie-spratt-135307-unsplash.png");
    background-size: 100% 100%;
}

.issue h2 {
    font-family: Flood;
    margin-right: 125px;
    width: 181px;
    text-align: left;
    font: normal normal normal 44px/46px Flood;
    color: #ffffff;
}
.issue p {
    width: 278px;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    color: #354463;
}
.issue fieldset {
    background-color: #ffffff;
    width: 312px;
    height: 240px;
}
.mission-values {
    display: flex;
    padding: 40px;
    row-gap: 40px;
    flex-direction: column;
    align-items: center;
    background-color: #354463;
    color: #ffffff;
}
.mission-values fieldset legend {
    background-color: #ffffff;
    color: #354463;
}
.mission-values fieldset p {
    text-align: center;
    width: 330px;
    font: normal normal bold 22px/28px Helvetica;
    color: #ffffff;
}
.mission-value-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    column-gap: 30px;
}
.mission-value-container img {
    height: 40px;
    width: 40px;
}
.mission-value-container h1 {
    text-align: left;
    font: normal normal bold 16px/20px Helvetica;
    color: #ffffff;
}
.mission-value-container p {
    color: #ffffff;
    width: 140px;
    height: 69px;
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #ffffff;
}
.our-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.our-team h2 {
    margin-top: 0ch;
    width: 160px;
    background-color: #354463;
    text-align: center;
    padding: 10px;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #ffffff;
}
.our-team > h3 {
    width: 256px;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    color: #354463;
}
.our-team p {
    width: 302px;
    text-align: center;
    font: normal normal 300 14px/20px Helvetica;
    color: #354463;
    margin-top: 0%;
    padding-bottom: 30px;
}
.our-team-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}
.our-team-container div {
    background-color: #354463;
    height: 200px;
    width: 144px;
}
.our-team-container p {
    color: #ffffff;
    text-align: left;
    margin-top: 4px;
    margin-left: 10px;
    letter-spacing: -0.14px;
    font: normal normal 300 14px/20px Helvetica;
}

.our-team-container img {
    height: 144px;
    width: 144px;
}
.our-impact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #354463;
    background-image: url("assets/assets/about-us/Impact Background@2x.png");
    background-size: 100% 100%;
}
.our-impact > h2 {
    margin-top: 0ch;
    width: 160px;
    height: 40px;
    padding-top: 10px;
    background-color: #ffffff;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
}
.our-impact > p {
    width: 330px;
    color: #ffffff;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
}
.our-impact-container {
    display: flex;
    flex-direction: column;
}
.our-impact-container h1 {
    font-family: Flood;
    font: normal normal normal 44px/46px Flood;
    color: #ffffff;
    text-align: center;
}
.our-impact-container p {
    margin-top: -25px;
    text-align: center;
    width: 160px;
    color: #ffffff;
    font: normal normal bold 16px/20px Helvetica;
}
.year h1 {
    margin-top: 0%;
    width: 312px;
    font-family: Flood;
    font: normal normal normal 44px/46px Flood;
    color: #ffffff;
    text-align: center;
}
.year {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    background-color: #354463;
}
fieldset .forward-button {
    position: relative;
    float: right;
    margin-top: 45px;
    margin-right: -30px;
    height: 48px;
    width: 48px;
    border-radius: 100%;
    padding-top: 7px;
    background-color: #c1f7d5;
}
fieldset .forward-button img {
    height: 17;
    width: 26px;
}
.year-container fieldset {
    background-image: url("assets/assets/about-us/Image@2x.png");
    background-size: 100% 100%;
    height: 224px;
    width: 312px;
}
.year-container .content {
    margin-top: -20px;
    margin-left: 2px;
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: #ffffff;
    width: 312px;
    color: #354463;
    text-align: center;
}
.year-container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.year-container fieldset legend {
    width: 160px;
    height: 40px;
    background-color: #ffffff;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
}
.year-container .content h2 {
    margin-top: 0%;
    margin-left: 25px;
    font: normal normal bold 22px/28px Helvetica;
    width: 256px;
}
.year-container .content p {
    margin-left: 25px;
    font: 16px/20px 300 Helvetica;
    width: 256px;
}
.subscribe {
    background-color: #c1f7d5;
    padding: 30px;
}
.subscribe h2 {
    width: 322px;
    font: normal normal bold 22px/28px Helvetica;
    margin-top: 0%;
    color: #354463;
}
.subscribe button {
    width: 112px;
    height: 40px;
    margin-left: 3.5px;
    background-color: #354463;
    color: #c1f7d5;
    font: normal normal bold 16px/19px Helvetica;
}
.subscribe input {
    width: 192px;
    height: 40px;
    border: 0ch;
    padding: 20px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 100px;
}

.footer-container {
    color: #354463;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
}
.links a {
    display: block;
}

.follow-us a {
    display: block;
}
.footer-container h2 {
    margin-top: 0ch;
}
.Contact-us p {
    margin-top: 0ch;
}
footer > p {
    font-family: Flood;
    float: right;
    margin-right: 30px;
    width: 181px;
    height: 136px;
    text-align: end;
    font: normal normal normal 44px/46px Flood;
    color: #354463;
}
