* {
    box-sizing: border-box;
    font-family: Helvetica;
    color: #354463;
}
body {
    margin: 0%;
}
@font-face {
    font-family: Flood;
    src: url("Flood\ Std\ Regular/Flood Std Regular.otf") format("opentype");
}
fieldset {
    border: 0ch;
}
header {
    display: grid;
    grid-template-columns: 60% 40%;
    color: #354463;
    column-gap: 1.438rem;
    padding: 2.5rem;
    padding-bottom: 1.875rem;
}

.title > h1 {
    margin-top: 1.563rem;

    height: 2.5rem;

    text-align: left;
    font: normal normal bold 1.125rem Helvetica;
    letter-spacing: 0rem;
    color: #354463;
    opacity: 1;
}

.contact > a {
    display: block;

    margin-top: 0rem;
    text-decoration: none;
    padding-top: 0.625rem;
    margin-right: 0.625rem;
    font: normal normal 300 0.875rem Helvetica;
    letter-spacing: -0.009rem;
    color: #354463;
    opacity: 1;
}

.donate-button {
    text-align: center;
    padding-bottom: 2.5rem;
}
.donate-button > button {
    background: #c1f7d5 0% 0% no-repeat padding-box;
    color: #354463;
    font: normal normal bold 1.125rem Helvetica;
    letter-spacing: 0px;
    height: 2.5rem;
    border: 0ch;
    width: 82%;
    border-radius: 6.25rem;
    opacity: 1;
}
button {
    background: #c1f7d5 0% 0% no-repeat padding-box;
    color: #354463;
    font: normal normal bold 1.125rem Helvetica;
    letter-spacing: 0px;
    height: 2.5rem;
    border: 0ch;
    width: 9.5rem;
    border-radius: 6.25rem;
    opacity: 1;
}
.issue {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    padding: 2.5rem;
    background-image: url("assets/assets/home/annie-spratt-135307-unsplash.png");
    background-size: 100% 100%;
    background-color: #354463;
}

.issue h2 {
    font-family: Flood;
    margin-right: 7.5rem;

    font: normal normal normal 2.75rem Flood;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}
.issue p {
    width: 17.375rem;
    text-align: center;
    font: normal normal bold 1.375rem Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}
.issue fieldset a {
    text-align: center;
}
.issue fieldset {
    border: none;
    background-color: #ffffff;
    padding-left: 1.563rem;
    padding-right: 1.563rem;
    width: 19.5rem;
    height: 22.5rem;
}
.take-action {
    background-color: #c1f7d5;
}
.take-action legend {
    position: absolute;
    margin-top: -1.563rem;
    margin-left: calc(50% - 6.25rem);
}
.take-action-container {
    margin: 1.563rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.25rem;
    row-gap: 1.25rem;
    text-align: left;
}
.take-action-container p {
    text-align: left;
    font: normal normal 300 1rem Helvetica;
    letter-spacing: -0.16px;
}

legend {
    background-color: #354463;
    color: #ffffff;
    width: 160px;
    height: 2.5rem;
    padding: 0.625rem;
    opacity: 1;
    text-align: center;
    font: normal normal normal 0.875rem Helvetica;
    letter-spacing: 0.56px;
}

.what-we-do {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #354463;
}
.what-we-do .class1 legend {
    height: 176px;
    width: 248px;
    background-image: url("assets/assets/home/tree-planting@3x.png");
    background-size: 100% 100%;
    background-color: #354463;
}
.what-we-do .class2 legend {
    height: 176px;
    width: 248px;
    background-image: url("assets/assets/home/education-training@3x.png");
    background-size: 100% 100%;
}
.what-we-do .class3 legend {
    height: 176px;
    width: 248px;
    background-image: url("assets/assets/home/advocacy@3x.png");
    background-size: 100% 100%;
    background-color: #354463;
}

.what-we-do > h2 {
    width: 160px;
    height: 2.5rem;
    text-align: center;
    padding: 0.625rem;
    font: normal normal normal 0.875rem Helvetica;
    letter-spacing: 0.56px;
    margin-top: 2.5rem;
    background-color: #ffffff;
}
.what-we-do p {
    width: 302px;
    height: 134px;
    /* UI Properties */
    text-align: center;
    font: normal normal bold 1.375rem Helvetica;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}
.what-we-do fieldset {
    border: none;
    background-color: #ffffff;
    width: auto;
    height: auto;
    text-align: center;
    padding-bottom: 2.5rem;
    /* padding-left: 30px;
  padding-right: 30px; */
}

.what-we-do-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    row-gap: 2.5rem;
}
.what-we-do-container p {
    height: 94px;
    font: normal normal 300 0.875rem Helvetica;
    letter-spacing: -0.14px;

    color: #354463;
}
.what-do-you-know {
    display: flex;
    flex-direction: column;

    align-items: center;
    background-image: url("assets/assets/home/did-you-know-background@3x.png");
    background-size: 100% 100%;
    background-color: #354463;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.what-do-you-know-container {
    display: flex;
    flex-direction: column;
}
.what-do-you-know fieldset {
    display: grid;
    grid-template-columns: 80% 20%;
    background-color: #ffffff;
    margin-top: 1.25rem;

    width: 312px;
}
.what-do-you-know .top button {
    width: 152px;
    height: 2.5rem;

    font: normal normal bold 1rem Helvetica;
    position: relative;
}
.what-do-you-know .top > h2 {
    font-family: Flood;
    width: 312px;
    height: 192px;
    font: normal normal normal 2.75rem Flood;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}

.icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.icon span {
    height: 32px;
    width: 32px;
    background-color: #c1f7d5;
    text-align: center;
    padding: 0.5rem;
    border-radius: 100%;
}

.stories {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    row-gap: 2.5rem;
}
.stories fieldset {
    height: 312px;
    width: 312px;
    background-image: url("assets/assets/home/lady-baby@3x.png");
    background-size: 312px 312px;
    background-color: #354463;
}

.story-textbox {
    background-color: #354463;
    /* height: 296px; */
    width: 312px;
    text-align: center;
    padding: 1.875rem;
}
.story-textbox p:nth-child(1) {
    font: normal normal bold 1.375rem Helvetica;
    letter-spacing: 0px;
    color: #ffffff;
}
.story-textbox p:nth-child(2) {
    font: normal normal normal 0.688rem Helvetica;
    letter-spacing: 0.44px;
    color: #ffffff;
}

.event {
    background-color: #354463;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.25rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.event__tagline {
    width: 313px;
    text-align: center;
    font: normal normal bold 1.375rem Helvetica;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}
.event p {
    width: 313px;
    color: #ffffff;
    font: normal normal 300 1rem Helvetica;
    letter-spacing: -0.14px;
    text-align: center;
    opacity: 1;
}
.event fieldset {
    height: 312px;
    width: 312px;
    background-image: url("assets/assets/home/tree-planting@3x.png");
    background-size: 100% 100%;
    background-color: #354463;
}
.event fieldset legend {
    background-color: #ffffff;
    color: #354463;
}
.event__heading {
    font-family: Flood;

    width: 312px;
    font: normal normal normal 2.75rem Flood;
    letter-spacing: 0px;
    color: #ffffff;
    text-align: center;
}
.event-textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.event-textbox button {
    margin-top: 2rem;
}
.event-textbox legend {
    display: none;
}

.latest-news {
    background-color: #354463;
}
.subscribe {
    background-color: #c1f7d5;
}

.latest-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.25rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.latest-news fieldset {
    height: 312px;
    width: 312px;
    background-image: url("assets/assets/home/tree-planting@3x.png");
    background-size: 312px 312px;
}
.latest-news-textbox legend {
    display: none;
}
.latest-news h2 {
    height: 66px;
    width: 313px;
    text-align: center;
    font: normal normal bold 1.375rem Helvetica;
    letter-spacing: 0px;
    color: #ffffff;
}
.latest-news p {
    width: 313px;
    color: #ffffff;
    font: normal normal 300 1rem Helvetica;
    letter-spacing: -0.14px;
    text-align: center;
}
.latest-news button {
    margin-top: 2rem;
}
.latest-news-textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-news fieldset legend {
    background-color: #ffffff;
    color: #354463;
}
.subscribe {
    padding: 1.875rem;
}
.subscribe h2 {
    margin-top: 0px;
    width: 322px;
}
.subscribe button {
    width: 112px;
    height: 2.5rem;
    margin-left: 3.5px;
    background-color: #354463;
    color: #c1f7d5;
    font: normal normal bold 1rem Helvetica;
}
.subscribe input {
    width: 192px;
    height: 2.5rem;
    border: 0ch;
    padding: 1.25rem;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 6.25rem;
}

.footer-container {
    padding: 1.875rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2.5rem;
    column-gap: 2.5rem;
}
.links a {
    display: block;
    line-height: 1.4rem;
}
.footer-container > p {
    justify-self: flex-end;
    grid-column: 1/3;
}

.follow-us a {
    display: block;
    line-height: 1.4rem;
}

.footer-container > p {
    font-family: Flood;
    float: right;
    margin-right: 1.875rem;
    width: 181px;
    height: 136px;
    text-align: end;
    font: normal normal normal 2.75rem Flood;
    letter-spacing: 0px;
    color: #354463;
}
.footer-container > p {
    justify-self: flex-end;
    grid-column: 1/3;
}
@media screen and (min-width: 40rem) {
    .parent-header {
        display: flex;
        text-align: center;
        justify-content: space-between;
    }
    .header {
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    .header .contact {
        display: flex;
    }
    .donate-button {
        width: 30%;
        align-self: center;
        padding-bottom: 0%;
    }
    .header h1 {
        margin-top: 0%;
    }
    .contact {
        column-gap: 1.25rem;
    }

    .issue {
        align-items: flex-start;
        text-align: left;
    }
    .issue fieldset {
        width: 100%;
    }
    .issue fieldset p {
        text-align: left;
        font-size: 1.9rem;
        width: 90%;
    }
    .what-we-do {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        align-items: flex-start;
    }
    .what-we-do > p {
        font-size: 2rem;
        line-height: 2rem;
        width: 100%;
        text-align: left;
    }
    .what-we-do-container {
        row-gap: 80px;
        width: 100%;
    }
    .what-we-do-container fieldset legend {
        position: absolute;
        margin-top: -6%;
        margin-left: 3%;
    }
    .what-we-do-container fieldset {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .what-we-do-container fieldset h2 {
        justify-self: start;
        text-align: left;
        grid-column: 2/3;
    }
    .what-we-do-container fieldset p {
        margin-bottom: 0%;
        text-align: left;
        grid-column: 2/3;
    }
    .what-we-do-container fieldset button {
        margin-top: -1rem;
        margin-right: 3rem;
        justify-self: flex-end;
    }
    .what-do-you-know {
        flex-direction: row;
        align-items: flex-start;
    }
    .what-do-you-know .top {
        margin-left: 10%;
        width: 50%;
    }
    .what-do-you-know-container {
        align-items: center;
        width: 50%;
    }
    .stories {
        padding-left: 3rem;
        align-items: flex-start;
        row-gap: 0%;
    }
    .stories fieldset {
        width: 80%;
        height: 35rem;
        background-size: 100% 100%;
    }
    .stories fieldset legend {
        text-align: left;
        padding-left: 3rem;
        margin-left: 2rem;
    }
    .story-textbox {
        width: 80%;
        margin-top: -10%;
        text-align: left;
        margin-left: 10%;
        position: relative;
    }
    .stories button {
        margin-left: 10%;
        margin-top: 2rem;
    }
    .event {
        display: grid;
        padding: 2rem;
        grid-template-rows: 20% 80%;
        grid-template-columns: 1fr 1fr;
    }
    .event__heading {
        padding-top: 2rem;
        width: auto;
        grid-column: 1/3;
        grid-row: 1/2;
        text-align: left;
    }
    .event fieldset {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .event-textbox {
        grid-column: 2/3;
        grid-row: 2/3;
        align-items: flex-start;
    }
    .event-textbox legend {
        display: inline-block;
        background-color: #ffffff;
        color: #354463;
    }
    .event-textbox h2 {
        text-align: left;
    }
    .event-textbox p {
        text-align: left;
    }

    .event fieldset legend {
        display: none;
    }
    .latest-news {
        display: grid;
        padding: 2rem;
        grid-template-columns: 1fr 1fr;
    }
    .latest-news-textbox {
        grid-column: 1/2;
        grid-row: 1/2;
        align-items: flex-start;
    }
    .latest-news-textbox legend {
        display: inline-block;
        background-color: #ffffff;
        color: #354463;
    }
    .latest-news-textbox h2 {
        text-align: left;
    }
    .latest-news-textbox p {
        text-align: left;
    }
    .latest-news fieldset {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .latest-news fieldset legend {
        display: none;
    }

    .subscribe h2 {
        width: 60%;
    }
    .subscribe-area {
        display: flex;
        justify-content: space-between;
    }
    .subscribe-area input {
        width: 60%;
    }
    .subscribe-area button {
        width: 35%;
    }
    .footer-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: 1fr 1fr;
        line-height: 1.5rem;
    }
    .footer-container h2 {
        grid-row: 1/3;
        line-height: 1.8rem;
        font-size: 28px;
    }
    .footer-container p {
        grid-column: 3/4;
        grid-row: 2/3;
        justify-self: flex-start;
    }
}

@media screen and (min-width: 75rem) {
    .parent-header {
        display: flex;
        align-items: center;
    }
    .header {
        display: grid;
        grid-template-columns: 30% 70%;
        color: #354463;
        width: 70%;
        padding: 2.5rem;
    }

    .title > h1 {
        margin-top: 0%;
        text-align: left;
        font: normal normal bold 1.125rem Helvetica;
        letter-spacing: 0px;
        color: #354463;
    }

    .contact {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .donate-button {
        width: 30%;
        align-self: center;
        display: flex;
        justify-content: center;
        padding-bottom: 0%;
    }
    .donate-button > button {
        width: 160px;
        float: left;
    }
    .issue {
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 42rem;
    }
    .issue fieldset {
        padding-bottom: 2rem;
        width: 60%;
        height: auto;
        text-align: left;
    }
    .issue fieldset p {
        width: 100%;
        font-size: 2.5rem;
        line-height: 2.5rem;
        text-align: left;
    }
    .issue h2 {
        width: 50%;
        margin-top: 1rem;

        grid-column: 2/3;
        grid-row: 1/2;
        font-size: 5rem;
        line-height: 5rem;
        text-align: left;
    }
    .issue fieldset legend {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: left;
        padding-left: 2.5rem;
    }

    .take-action-container {
        padding: 2.5rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 2.5rem;
    }
    .take-action-container {
        padding: 2.5rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 2.5rem;
    }

    .what-we-do {
        padding-top: 4rem;
        padding: 5rem;
        align-items: flex-start;
    }
    .what-we-do > p {
        text-align: left;
        font-size: 2.5rem;
        line-height: 2.5rem;
        width: 80%;
    }

    .what-we-do-container {
        width: 80%;
        display: grid;
        column-gap: 6rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .what-we-do-container fieldset {
        display: block;
        text-align: left;
        width: 20rem;
    }
    .what-we-do-container fieldset p {
        text-align: left;
    }
    .what-we-do-container fieldset h2 {
        width: 70%;
    }
    .what-we-do-container fieldset button {
        margin-top: 2rem;
    }

    .what-we-do-container .class1 legend {
        position: relative;
        margin-top: 20%;
        margin-left: 15%;
        height: 14rem;
        width: 20rem;
    }
    .what-we-do-container .class2 legend {
        position: relative;
        margin-top: -1%;
        margin-left: 15%;
        height: 14rem;
        width: 20rem;
    }
    .what-we-do-container .class3 legend {
        position: relative;
        margin-top: -1%;
        margin-left: 15%;
        height: 14rem;
        width: 20rem;
    }

    .what-do-you-know .top h2 {
        font-size: 3rem;
        line-height: 3rem;
    }
    .what-do-you-know-container fieldset {
        width: 65%;
    }
    .what-do-you-know .top button {
        margin-top: 1rem;
    }
    .stories {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding-left: 0%;
        row-gap: 6%;
    }
    .story-textbox {
        height: 50%;
        width: 34rem;
        position: relative;
        margin-left: 40%;
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .stories fieldset legend {
        text-align: left;
        padding-left: 3rem;
        margin-left: 2rem;
    }
    .stories fieldset {
        height: 35.5rem;
        width: 40rem;
        background-size: 100% 100%;
    }
    .story-textbox p:nth-child(1) {
        text-align: left;
        width: 85%;
        height: auto;

        font-size: 1.75rem;
    }
    .story-textbox p:nth-child(2) {
        text-align: left;
    }
    .stories button {
        position: relative;
        margin-left: 40%;

        margin-top: -7rem;
    }
    .event {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .event-textbox {
        height: 100%;
    }
    .event fieldset {
        height: 36rem;
        width: 36rem;
        background-size: 100% 100%;
    }
    .event__tagline {
        width: 50%;
        font-size: 2.75rem;
        line-height: 2.75rem;
    }
    .event-textbox p {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }
    .latest-news {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .latest-news fieldset {
        height: 36rem;
        width: 36rem;
        background-size: 100% 100%;
    }
    .latest-news-textbox {
        height: 100%;
    }
    .latest-news-textbox h2 {
        width: 50%;
        font-size: 2.75rem;
        line-height: 2.75rem;
    }
    .latest-news-textbox p {
        margin-top: 5rem;
        font-size: 1.25rem;
        line-height: 1.25rem;
    }
    .subscribe {
        display: flex;
    }
    .subscribe h2 {
        font-size: 36px;
        width: 100%;
    }
    form {
        width: 100%;
    }
    .subscribe-area {
        height: 100%;

        display: flex;
        align-items: center;
    }
    .subscribe-area input {
        width: 50%;
    }
    .subscribe-area button {
        margin-left: 2.5rem;
    }

    footer .footer-container {
        justify-content: space-evenly;
        line-height: 1.563rem;
        display: flex;
        line-height: 1.5rem;
    }

    .footer-container p {
        margin-bottom: 0.625rem;
        padding-bottom: 0.313rem;
        border-bottom: 1.5px solid #354463;
    }
    .footer-container > p {
        border-bottom: none;
        justify-self: flex-end;
        grid-column: 1/3;
    }
    .follow-us a {
        text-decoration: none;
    }
    .links a {
        text-decoration: none;
    }
}
