* {
    box-sizing: border-box;
    font-family: Helvetica;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
@font-face {
    font-family: Flood;
    src: url("Flood\ Std\ Regular/Flood Std Regular.otf") format("opentype");
}

/* Header CSS */

header {
    height: 120px;
    text-align: center;
    color: #354463;
}

/* Container CSS */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("assets/assets/donation/annie-spratt-427340-unsplash.png");
    background-size: 100% 100%;
    background-color: #354463;
    padding: 2.5rem;
}
.container > h1 {
    margin-top: 0%;
    font-family: Flood;
    width: 312px;
    text-align: center;
    font: normal normal normal 2rem Flood;
    color: #ffffff;
}

/* Form CSS */

form {
    display: flex;
    width: 95%;
    flex-direction: column;
    background-color: #354463;
    padding: 2.5rem;
}
form p {
    font: normal normal normal 0.688rem Helvetica;
    letter-spacing: 0.44px;
    color: #ffffff;
}
form h2 {
    width: 249px;

    text-align: left;
    font: normal normal bold 1.375rem Helvetica;
    letter-spacing: 0px;
    color: #ffffff;
}
form h2:nth-child(1) {
    margin-top: 0%;
}

form input {
    color: #ffffff;

    width: 92px;
    border: none;
    background: none;
}
form input::placeholder {
    color: #ffffff;
    font: normal normal 300 1rem Helvetica;
    letter-spacing: -0.16px;
    opacity: 0.2;
}
.name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.625rem;
}
.street-address input {
    width: 100%;
}

.address {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.address hr {
    width: 90%;
}

select {
    background: none;
    color: #c1f7d5;
    font: normal normal 300 Helvetica;
    border: none;
}
select option {
    background-color: #c1f7d5;
    color: #354463;
}

.email-address input {
    width: auto;
}
.card-number input {
    width: auto;
}
.card-detail {
    display: flex;
}
.card-detail input {
    width: 50%;
}
.card-detail hr {
    width: 90%;
}

hr {
    background-color: #c1f7d5;
    border: none;
    height: 2px;
    width: 100%;
    float: left;
}

form > p {
    padding-top: 1.25rem;
    text-align: left;
    font: normal normal bold 1.125rem Helvetica;
    color: #ffffff;
}
form button {
    width: 249px;
    height: 49px;
    border: none;
    background: #c1f7d5;
    border-radius: 6.25rem;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
form a {
    text-decoration: underline;
    font: normal normal 300 0.875rem Helvetica;
    letter-spacing: -0.14px;
    color: #c1f7d5;
}

/* Footer CSS */

.footer-container {
    padding: 1.875rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    row-gap: 2.5rem;
    color: #354463;
    line-height: 1.3rem;
}
.links a {
    display: block;
    color: #354463;
}

.follow-us a {
    display: block;
    color: #354463;
}

.footer-container > p {
    font-family: Flood;
    float: right;
    margin-right: 1.875rem;

    text-align: end;
    font: normal normal normal 2.75rem Flood;
    letter-spacing: 0px;
    color: #354463;
}
.footer-container h2 {
    line-height: 1.5rem;
}
.footer-container > p {
    justify-self: flex-end;
    grid-column: 1/3;
}

@media screen and (min-width: 45rem) {
    form {
        width: 80%;
    }
    form button {
        align-self: flex-end;
    }
    form a {
        position: relative;
        margin-top: -2.125rem;
    }
    .footer-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: 1fr 1fr;
        line-height: 1.6rem;
    }
    .footer-container h2 {
        grid-row: 1/3;
        font-size: 1.75rem;
    }
    .footer-container p {
        grid-column: 3/4;
        grid-row: 2/3;
        justify-self: flex-start;
    }
}
@media screen and (min-width: 75rem) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .container h1 {
        font-size: 3.5rem;
        text-align: left;
        grid-column: 2/3;
        line-height: 3.5rem;
        align-self: flex-start;
        margin-left: 15%;
        grid-row: 1/2;
    }
    .footer-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .footer-container p {
        grid-column: 5/6;
        grid-row: 1/2;
    }
}
